*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
#title:hover{color:white;}

.column_left {
  float:left;
  width:20%;
  height:100vh;
  flex:20%;
  background-color: red;
  overflow-y: scroll;
  padding: 10px;


  display: block;
}
.column_right {
  float:right;
  width:80%;
  flex:80%;
  background-color: purple;
  padding: 10px;
  display: block;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;

  clear: both;
}

.subtitle {
  padding-top: 10px;
  font-size: 22px;
}
.subsubtitle {
  list-style-position: inside;
  padding-left: 20px;
}
.subsubtitle li {
  padding-top: 4px;
  padding-bottom: 4px;
}

.img {

  display: none;
  width:100%;

}
.images {
  height:auto;
}

.credits{
  background-color: black;
  color: grey;
  width:100vw;
}
div.fixed {
  position:fixed;
  top: 0px;
}
div.absolute {
  position: absolute;
}
